*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.upper-section{
    height: 488px;
    background-color: antiquewhite;
}
.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 90px;

}

.heading{
    width: 50%;
    width: 500px;
   
}
.heading>h2{
    padding: 0px 10px 10px 0px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    
}
.heading>p{
    text-align: justify;
    font-size: 10px;
    margin-top: 5px;
}
.bimg{
    width: 300px;
}
.banner{
    margin-top: 20px;
}
.pri-btn{
    background-color: orange;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    margin:  10px 10px 10px 0px;
}

.feture{
    height: 200px;
    text-align: center;
    margin: 40px;
}
.feture>h3{
    font-size: 30px;
    margin-bottom: 10px;

}
.feture>p{
    font-size: 15px;
}

.tree{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
   
}
.box1{
    width: 300px;
    height: 350px;
    border-radius: 100px 100px 0px 0px;
    
}

.box2{
    width: 300px;
    height: 350px;
    border-radius: 100px 100px 0px 0px;
    
}

.box3{
    width: 300px;
    height: 350px;
    border-radius: 100px 100px 0px 0px;
    
}
.pic1{
    height: 300px;
    width: 300px;
    align-items: center;
    background-color: rgb(147, 195, 218);
    border-radius: 100px 100px 0px 0px;
}

.pic2{
    height: 300px;
    width: 300px;
    align-items: center;
    background-color: rgb(151, 199, 41);
    border-radius: 100px 100px 0px 0px;
}

.pic3{
    height: 300px;
    width: 300px;
    align-items: center;
    background-color: rgb(170, 111, 63);
    border-radius: 100px 100px 0px 0px;
}
.tpic{
    width: 150px;
    height: 250px;
    display: cover;
    text-align: center;
    margin-left: 0px;
    margin-top: 50px;
}
.tree>.box1>a{
    color:black;
    margin-top: 50px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
 
}
.left1{
    width: 500px;
    text-align: center;
}
.left1>h3{
    font-size: 28px;
    margin-bottom: 30px;
}
.left1>a{
    font-size: 10px;
    margin-bottom: 20px;
}
span{
    color:red;
}
.right1>img{
    width: 200px;
}

.instagram{
    height: 500px;
    text-align: center;
}
.ins{
    height: 200px;
    padding-top: 50px;
}
.idis{
    font-size: 10px;
    padding:20px;
}
.inss{
    background-color: honeydew;
}
.photos{
    display: flex;
    justify-content: center;
    padding: 0px;
    gap:10px;
    margin: -50px;
    
}
.photo1{
    width: 200px;
    height: 250px;
}
.photo1>img{
    width: 200px;
    height: 250px;
}
